In [1]:
import pandas as pd
imdb = pd.read_csv("IMDB.csv", encoding='latin')

In [2]:
imdb

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0
5,6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,...,1,903,29991,0,0,0,240396,2367,6.1,0
6,7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,...,1,748,20495,1,118000,0,548573,2536,7.2,0
7,8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,...,1,773,9152,1,65000,0,354228,802,7.5,0
8,9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,...,1,963,28489,1,56000,0,451803,1225,7.0,0
9,10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,...,1,738,3244,1,17000,0,211765,546,6.7,0
10,11,King Kong,201,1,2005,New Zealand,English,PG-13,207000000,218051260,...,1,84,7123,0,0,0,316018,2618,7.2,0
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
12,13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,...,1,11000,64798,1,72000,0,272670,1022,8.2,1
13,14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,...,1,627,26679,1,44000,0,202382,751,5.9,0
14,15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,...,1,1000,8458,1,150000,0,418214,1290,7.0,0
15,16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,...,1,393,2039,1,80000,0,522030,1498,7.8,0
16,17,Alice in Wonderland,108,1,2010,USA,English,PG,200000000,334185206,...,1,11000,79957,1,24000,0,306320,736,6.5,0
17,18,X-Men: The Last Stand,104,1,2006,Canada,English,PG-13,210000000,234360014,...,1,560,21714,0,0,0,383427,1912,6.8,0
18,19,Monsters University,104,1,2013,USA,English,G,200000000,268488329,...,1,760,14863,1,44000,0,235025,265,7.3,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
20,21,The Amazing Spider-Man 2,142,1,2014,USA,English,PG-13,200000000,202853933,...,1,825,28631,1,41000,0,321227,1067,6.7,0
21,22,TRON: Legacy,125,1,2010,USA,English,PG,170000000,172051787,...,1,1000,25550,1,30000,0,264183,665,6.8,0
22,23,Cars 2,106,1,2011,USA,English,G,200000000,191450875,...,1,776,4482,1,10000,0,101178,283,6.3,0
23,24,Terminator Salvation,118,1,2009,USA,English,PG-13,200000000,125320003,...,1,988,27468,0,0,0,286095,974,6.6,0
24,25,Furious 7,140,1,2015,USA,English,PG-13,190000000,350034110,...,1,14000,79150,1,94000,0,278232,657,7.2,0
25,26,World War Z,123,1,2013,USA,English,PG-13,190000000,202351611,...,1,1000,32392,1,129000,0,465019,995,7.0,0
26,27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,...,1,928,21411,1,92000,0,395573,1171,7.8,0
27,28,Pacific Rim,131,1,2013,USA,English,PG-13,190000000,101785482,...,1,919,19166,1,83000,0,381148,1106,7.0,0
28,29,Brave,93,1,2012,USA,English,PG,185000000,237282182,...,1,838,5005,1,39000,0,273556,428,7.2,0
29,30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,...,1,522,2975,1,16000,0,718837,1043,8.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751,3752,Soul Plane,92,1,2004,USA,English,R,16000000,13922211,...,1,618,3935,0,0,9,18271,150,4.4,0
3752,3753,This Christmas,117,1,2007,USA,English,PG-13,13000000,49121934,...,1,912,6554,0,0,9,6528,32,6.1,0
3753,3754,5 Days of War,113,1,2011,Georgia,English,R,20000000,17149,...,1,18,708,0,0,9,12128,61,5.6,0
3754,3755,Sleepover,89,1,2004,USA,English,PG,10000000,8070311,...,1,2000,13626,0,0,9,12706,75,5.3,0
3755,3756,Baggage Claim,96,1,2013,USA,English,PG-13,8500000,21564616,...,1,1000,8097,0,0,9,7098,41,5.0,0
3756,3757,Best in Show,90,1,2000,USA,English,PG-13,6000000,18621249,...,1,658,4611,0,0,9,45859,340,7.5,0
3757,3758,The Players Club,104,1,1998,USA,English,R,4500000,23031390,...,1,498,2868,1,575,9,4345,26,5.6,0
3758,3759,Little Fockers,98,1,2010,USA,English,PG-13,100000000,148383780,...,1,708,24082,0,0,10,85531,152,5.5,0
3759,3760,Delivery Man,105,1,2013,USA,English,PG-13,26000000,30659817,...,1,110,1006,0,0,10,59805,95,6.4,0
3760,3761,My Big Fat Greek Wedding 2,94,1,2016,USA,English,PG-13,18000000,59573085,...,1,261,2259,1,19000,10,13562,103,6.1,0
3761,3762,Top Five,102,1,2014,USA,English,R,12000000,25277561,...,1,555,5592,0,0,10,21672,93,6.5,0
3762,3763,Movie 43,94,1,2013,USA,English,R,6000000,8828771,...,1,3000,41059,1,25000,10,79146,352,4.3,0
3763,3764,Get on the Bus,120,1,1996,USA,English,R,2400000,5731103,...,1,702,5963,1,352,10,4100,35,6.8,0
3764,3765,The Longest Yard,113,1,2005,USA,English,PG-13,82000000,158115031,...,1,421,13693,0,0,11,130070,316,6.4,0
3765,3766,I Heart Huckabees,107,1,2004,USA,English,R,22000000,12784713,...,1,678,8094,0,0,11,56813,381,6.7,0
3766,3767,Epic Movie,93,1,2007,USA,English,PG-13,20000000,39737645,...,1,729,4293,0,0,11,89687,666,2.3,0
3767,3768,One Direction: This Is Us,106,1,2013,USA,English,PG,10000000,28873374,...,1,547,2787,0,0,11,22161,68,4.1,0
3768,3769,God's Not Dead 2,120,1,2016,USA,English,PG,5000000,20773070,...,1,295,1810,0,0,11,4501,102,3.4,0
3769,3770,Valentine's Day,125,1,2010,USA,English,PG-13,52000000,110476776,...,1,11000,45696,1,9000,12,95437,211,5.7,0
3770,3771,What to Expect When You're Expecting,110,1,2012,USA,English,PG-13,40000000,41102171,...,1,651,13396,1,14000,12,57266,89,5.7,0
3771,3772,Taking Woodstock,120,1,2009,USA,English,R,30000000,7443007,...,1,210,1500,0,0,12,24663,71,6.7,0
3772,3773,Love the Coopers,107,1,2015,USA,English,PG-13,17000000,26284475,...,1,85,10691,0,0,13,9051,68,5.7,0
3773,3774,A Bridge Too Far,175,0,1977,USA,English,PG,26000000,50800000,...,1,14,669,0,0,14,40277,210,7.4,0
3774,3775,The Expendables 3,131,1,2014,USA,English,PG-13,90000000,39292022,...,1,11000,52610,1,56000,15,127258,351,6.1,0
3775,3776,Cheaper by the Dozen,94,1,2003,USA,English,PG,40000000,138614544,...,1,597,7014,0,0,15,75152,288,5.8,0
3776,3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,...,1,307,23456,1,20000,15,66579,134,5.7,0
3777,3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,1,826,3177,0,0,19,7894,25,5.0,0
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,1,15,427,1,27000,31,105144,405,7.1,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

In [7]:
type(imdb)

pandas.core.frame.DataFrame

In [10]:
#1. Total Rows and columns
imdb.shape

(3781, 36)

In [20]:
#2. Top 3 Movies Net Profit in 2013
imdb_2013 = imdb[imdb['title_year'] == 2013].sort_values(by=['net_USD'],ascending=False).head(3)
imdb_2013

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,1,523,49355,1,82000,1,498397,706,7.6,0
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1,1000,11905,1,56000,0,286877,284,7.5,0
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0

In [21]:
#3. Top 3 Movies Gross Profit in 2009
imdb_2009 = imdb[imdb['title_year'] == 2009].sort_values(by=['gross_USD'],ascending=False).head(3)
imdb_2009

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
3094,3095,Harry Potter and the Half-Blood Prince,153,1,2009,UK,English,PG,250000000,301956980,...,1,10000,58753,1,10000,3,321795,973,7.5,0

In [25]:
#4. 
imdb_nonenglish = len(imdb[imdb['language'] != 'English'])
imdb_nonenglish

153

In [35]:
#5. Top 3 Value aside English Language

imdb_nonenglish = (imdb[imdb['language'] != 'English'])
imdb_nonenglish.language.value_counts().head(3)

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

In [60]:
#6. Top 3 countries with highest net profit
imdb.groupby('country').sum().sort_values(by='net_USD',ascending=False).head(3)

,movie_ID,duration,color,title_year,budget_USD,gross_USD,net_USD,profitable,director_facebook?,director_facebook_likes,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
country,,,,,,,,,,,,,,,,,,,,,
USA,5675953,329223,2924,6027180,121680335210,173684268384,52003933174,1729,2494,2769868,...,2989,2521427,37195351,1646,28279429,4267,326474639,1013202,19207.4,114
UK,617519,35921,306,636498,9972938734,11504553258,1531614524,138,263,94324,...,316,180520,2844615,160,3265458,408,32119102,108650,2177.4,15
Australia,68124,4116,38,78062,1411705523,1664277139,252571616,18,33,9118,...,39,13550,351964,24,548475,42,3337163,11892,252.2,1

In [48]:
#7. Average budget 2013 movies 
imdb_2013 = imdb[imdb['title_year'] == 2013]
imdb_2013mean = imdb_2013['budget_USD'].mean()
imdb_2013mean

51069610.77439024

In [49]:
#8. Average budget 2014 movies 
imdb_2014 = imdb[imdb['title_year'] == 2014]
imdb_2014mean = imdb_2014['budget_USD'].mean()
imdb_2014mean

49919006.62251656

In [51]:
#9. Higher average budget between 2013 and 2014
if imdb_2013mean > imdb_2014mean:
    print("Average Budget movie in 2013 is higher than 2014")
else:
    print("Average Budget movie in 2014 is higher than 2013")

Average Budget movie in 2013 is higher than 2014

In [65]:
imdb_highestnett = imdb.sort_values(by=['net_USD'], ascending=False)
imdb_highestnett[['movie_title', 'budget_USD', 'net_USD']].head(1)

  movie_title  budget_USD    net_USD
0      Avatar   237000000  523505847